*.aux
*.pdf
*.ps
*.log
*.dvi
*.tex~
*.bbl
*.blg
**/Old/*
*.miparcours.tex

*.bbl
*.brf
*.maf
*.mtc*
*.nlo
*.pdf  
*.toc
*.log 
*.out

Chapters/auxiliary
Chapters/Old
auxiliary
*.tdo
fabfile.pyc
comment.cut
chars.txt

Figures/Data/vol_frac_weeks.data.decale
temp/
figures/
score-examples/
_minted*
tags
*ffff*
